h2 {
    color:white;
    text-align:center;
}

.input {
    margin-left:10px;
}

.box {
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
}

.figure {
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:5%;
}

#fig {
    position: relative;
    left:1%;
    right:1%;
    width:90%;
    top:1%;
}
#gen-model {
    background:rgb(194,118,25);
}

#analysis-infer {
    background:rgb(84,137,160);
}

#observed {
    background:rgb(193,44,51);
}
.sum_box {
    padding-left:2%;
    padding-right:2%;
}
