h2 {
    color:white;
    text-align:center;
}

.input {
    margin-left:10px;
}

.box {
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
}

#arrow {
    position: absolute;
    top:10%;
    left:1%;
    right:1%;
    width:98%;
}

#gen-model {
    background:rgb(194,118,25);
}

#analysis-infer {
    background:rgb(84,137,160);
}

#observed {
    background:rgb(193,44,51);
}
