h2 {
    color:white;
    text-align:center;
    padding-top:4%;
    padding-bottom:0%;
}

.input {
    margin-left:10px;
}

.box {
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    
}

.sum_box {
    padding-left:2%;
    padding-right:2%;
}

.figure {
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:5%;
}

#fig {
    position: relative;
    left:1%;
    right:1%;
    width:90%;
    top:1%;
}
#gen-model {
    background:rgb(194,118,25);
    position:relative;
}

#gen-model:before {
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 45%;
    margin-left: 0%;
    content: '';
    width: 0;
    height: 0;
    border-left: solid 80px transparent;
    border-top: solid 40px #ffffff;
    border-right: solid 80px transparent;
}


#gen-model:after {
    z-index: 0;
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: 0%;
    content: '';
    width: 0;
    height: 0;
    border-left: solid 80px transparent;
    border-top: solid 40px rgb(194,118,25);
    border-right: solid 80px transparent;
}

#analysis-infer {
    background:rgb(84,137,160);
    position:relative;
}

#observed {
    background:rgb(193,44,51);
}


#analysis-infer:after {
    z-index: 1;
    position: absolute;
    top: 97.7%;
    left: 45%;
    margin-left: 0%;
    content: '';
    width: 0;
    height: 0;
    
    border-left: solid 80px transparent;
    border-bottom: solid 40px rgb(193,44,51);
    border-right: solid 80px transparent;
}


